[submodule "3rdparty/The-Forge"]
	path = 3rdparty/The-Forge
	url = git@github.com:PixelJuiceGames/The-Forge.git
[submodule "3rdparty/SDL"]
	path = 3rdparty/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "3rdparty/fast_obj"]
	path = 3rdparty/fast_obj
	url = git@github.com:thisistherk/fast_obj.git
[submodule "3rdparty/MikkTSpace"]
	path = 3rdparty/MikkTSpace
	url = git@github.com:PixelJuiceGames/MikkTSpace.git
[submodule "3rdparty/meshoptimizer"]
	path = 3rdparty/meshoptimizer
	url = git@github.com:zeux/meshoptimizer.git
